<%= form_for beer do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div>
    <%= f.label :brewery %>
    <%= f.text_field :brewery %>
  </div>
  <div>
    <%= f.label :sample_date %>
    <%= f.date_field :sample_date %>
  </div>

  <h4>Select Style Of Beer</h4>
  <div>
    <%= f.collection_select :style_id, Style.all, :id, :name, include_blank: "Select Style"  %>
  </div>
        or
  <h4>Add New Style Of Beer</h4>
  <%= f.fields_for :style, beer.build_style do |sb| %>
    <div>
      <%= sb.label :name %>
      <%= sb.text_field :name %>
    </div>

    <div>
      <%= f.label :Rating %>
      <%= f.number_field :rating, min: 1, max: 5 %>
    </div>

    <div>
      <%= f.label :comments%>
       <%= f.text_field :comments%>
    </div>

  <% end %>
  <%= f.submit button_name %>
<% end %>
<script>
 $(document).ready(function(){
    $('select').formSelect();
  });

</script>