<h2>Nested Route For New</h2>

<%= form_for [@style, @beer] do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
   </div>
    
  <div>
    <%= f.label :brewery %>
    <%= f.text_field :brewery %>
  </div>

  <div>
    <%= f.label :sample_date %>
    <%= f.date_field :sample_date %>
  </div>

  <%= f.hidden_field :style_id %>

  <%= f.submit "Add Beer" %>
<% end %>