<h2><%= @beer.name %></h2>
<p>Style: <%= @beer.style_name %></p>
<p>Brewery: <%= @beer.brewery %></p>
<p>Sample Date: <%= @beer.sample_date %></p>
<p>Comments: <%= @beer.comments %></p>


<%= link_to "edit", edit_beer_path(@beer) %>

<%= link_to "delete", beer_path(@beer), method: "delete" %>